<div class="container image-gallery">
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>

  <h1>Galería de imágenes</h1>
  <br>
  <div class="alert alert-info" role="alert"><b>IMPORTANTE:</b> Al eliminar las imágenes que contengan la etiqueta <span class="label label-info">Imagen utilizada en circular</span>, las mismas serán eliminadas de sus respectivas circulares.
  </div>

  <% if @media_assets.empty? %>
    <div class='no-elements-in-table'>No hay imágenes en la galería.</div>
  <% else %>

    <table class='table table-bordered datatable'>
      <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>¿Está siendo utilizada?</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @media_assets.each do |asset| %>
          <tr>
            <td><%= image_tag(asset.thumbnail) %></td>
            <td><u><%= asset.image.filename %></u></td>
            <td><%= asset.description %></td>
            <td><%= used_in_newsletter?(asset) %></td>
            <td><%= link_to 'Editar', edit_admin_media_asset_path(asset), class: 'btn btn-default' %></td>
            <td><%= link_to 'Eliminar', admin_media_asset_path(asset), data: { confirm: 'Estás seguro?' }, method: :delete, class: 'btn btn-danger remove-image' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% end %>
  <%= link_to 'Agregar imagen', new_admin_media_asset_path, class: 'btn btn-primary' %>
</div>
