<div class="container image-gallery">
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>

  <h1>Galería de imágenes</h1>
  <br>
  <div class="alert alert-info" role="alert"><b>IMPORTANTE:</b> Al eliminar las imágenes que contengan la etiqueta <span class="label label-info">Imagen utilizada en Circular</span>, las mismas serán eliminadas de sus respectivas newsletters.
  </div>

  <% if @media_assets.empty? %>
    <div class='no-elements-in-table'>No hay imágenes en la galería.</div>
  <% else %>

    <table class='table table-bordered <%= add_datatable_class_to_media_assets(current_admin_user) %>'>
      <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>¿Está siendo utilizada?</th>
          <% unless current_admin_user.is_readonly? %>
            <th></th>
            <th></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @media_assets.each do |asset| %>
          <tr>
            <td><%= image_tag(asset.thumbnail) %></td>
            <td><u><%= asset.image.filename %></u></td>
            <td><%= asset.description %></td>
            <td><%= used_in_newsletter?(asset) %></td>
            <% unless current_admin_user.is_readonly? %>
              <td><%= link_to 'Editar', edit_admin_media_asset_path(asset), class: 'btn btn-default' %></td>
              <td><%= link_to 'Eliminar', admin_media_asset_path(asset), data: { confirm: 'Estás seguro?' }, method: :delete, class: 'btn btn-danger remove-image' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% end %>
  <br>
  <% unless current_admin_user.is_readonly? %>
    <%= link_to 'Agregar imagen', new_admin_media_asset_path, class: 'btn btn-primary' %>
  <% end %>
</div>
