<p id="notice"><%= notice %></p>

<h1>Recibos</h1>

<table class='table table-bordered datatable'>
  <thead class='thead-dark'>
    <tr>
      <th>Nombre</th>
      <th>Monto</th>
      <th>Propiedades</th>
      <th>Fecha</th>
      <th>Mes de aporte fiduciario</th>
      <% if params[:payments].nil? %>
        <th>Concepto</th>
      <% end %>
      <th>Ver/Imprimir Recibo</th>
      <th>Modificar datos de recibo</th>
      <th>Eliminar recibo</th>
    </tr>
  </thead>

  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>

        <td><%= receipt.name %></td>
        <td><%= receipt.value %></td>
        <td><%= property_list(receipt.payment&.properties) %> </td>
        <td><%= receipt.created_at.to_s(:db) %></td>
        <td><%= receipt.month.capitalize %></td>
        <% if params[:payments].nil? %>
          <td><%= receipt.concept %></td>
        <% end %>
        <td><%= link_to 'Ver', [:admin, receipt], class: 'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_admin_receipt_path(receipt), class: 'btn btn-info' %></td>
        <td><%= link_to 'Eliminar', [:admin, receipt], method: :delete, data: { confirm: 'Estas seguro?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if params[:payments].nil? %>
  <%= link_to 'Nuevo Recibo de locales', new_admin_receipt_path, class: 'btn btn-primary' %>
<% else %>
  <b> Para crear recibos de pagos por propiedades, lo debe hacer desde la <%= link_to 'solapa de pagos', admin_payments_path %>.</b>
  <br>
  <%= link_to 'Descargar en Excel', admin_receipts_path(payments: true, format: 'xlsx') , class: 'btn btn-info' %>

  <br>
  <br>
<% end %>
