<p id="notice"><%= notice %></p>

<h1>Recibos</h1>

<table class='table datatable'>
  <thead class='thead-dark'>
    <tr>
      <th>Monto</th>
      <th>Nombre</th>
      <th>Propiedades</th>
      <th>Fecha</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td><%= receipt.value %></td>
        <td><%= receipt.name %></td>
        <td><%= property_list(receipt.payment&.properties) %> </td>
        <td><%= receipt.created_at.to_s(:db) %></td>
        <td><%= link_to 'Ver', [:admin, receipt], class: 'btn btn-default' %>
            <%= link_to 'Edit', edit_admin_receipt_path(receipt), class: 'btn btn-default' %>
            <%= link_to 'Destroy', [:admin, receipt], method: :delete, data: { confirm: 'Estas seguro?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Recibo', new_admin_receipt_path, class: 'btn btn-info' %>
