<%= form_with(model: [:admin, property_category], local: true) do |form| %>

  <%= render partial: 'admin/shared/error_messages', locals: { model_name: property_category } %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :percentage %>
    <%= form.text_field :percentage %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
