<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property_category.name %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @property_category.percentage %>
</p>

<%= link_to 'Edit', edit_admin_property_category_path(@property_category) %> |
<%= link_to 'Back', admin_property_categories_path %>
