<% if debt.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(debt.errors.count, "error") %> prohibited this debt from being saved:</h2>

    <ul>
    <% debt.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<br />
<br />

<div class="form-group">
  <label> Seleccione propietarios a los cuales aplica la deuda </label>
  <%= form.hidden_field :property_ids, value: @property_ids %>
  <div>
    <input id="js-select-all" type="checkbox"  name="no_name">
    <label for="no_name">Seleccionar todo</label>
  </div>
  <table class='table table-bordered datatable'>
    <thead>
      <tr>
        <th>Seleccionar</th>
        <th>Propiedades</th>
      </tr>
    </thead>
    <tbody>
      <% @properties.each.with_index do |property, index| %>
        <tr>
          <td><%= check_box :property_id, '', { id: "property_debt_#{index}", class: 'form-control js-property-check', data: { property_id: property.id }, checked: (@property_ids&.split(',')&.include?(property.id.to_s) ? true : false) }%></td>
          <td><%= property&.name + " - " + property&.user&.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>


 <div class="form-group">
  <%= form.label :description, 'Descripcion' %>
  <em>Representa el motivo de la deuda. Por ejemplo: Pago de cochera</em>
  <%= form.text_field :description, class: 'form-control' %>
 </div>

 <div class="form-group">
  <%= form.label :currency, 'Tipo de moneda' %>
  <em>Pesos o Dolares</em>
  <%= form.select :currency, ['pesos', 'dolares'], class: 'form-control' %>
</div>

<div class="form-group">
 <%= form.label :amount, 'Monto' %>
 <em>La deuda debe ser un numero entero (No decimal)</em>
 <%= form.text_field :amount, class: 'form-control' %>
</div>

 <!-- <div class="form-group">
  <%#= form.label :due_date, 'Vencimiento de pago' %>
  <%#= form.datetime_field :due_date, class: 'form-control' %>
</div> -->
