<p id="notice"><%= notice %></p>

<h1>Deudas Especiales</h1>
<table class="table table-bordered datatable">
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Monto</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @debts.each do |debt| %>
      <tr>
        <td><%= debt.description %></td>
        <td>$<%= debt.amount %> </td>

        <td><%# link_to 'Editar', edit_admin_debt_path(debt), class: 'btn btn-info' %></td>
        <td><%= link_to 'Eliminar', [:admin, debt], method: :delete, data: { confirm: 'Estas seguro?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva deuda', new_admin_debt_path, class: 'btn btn-info' %>
