<p id="notice"><%= notice %></p>

<h1>Deudas Especiales</h1>
<table class="table table-bordered datatable">
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Monto</th>
      <th>Moneda</th>
      <th>Propiedades</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @debts.each do |debt| %>
      <tr>
        <td><%= debt.description %></td>
        <td>$<%= debt.amount %> </td>
        <td> <%= debt.currency.capitalize %> </td>
        <td><%= debt.properties.map(&:name).join(' / ') %></td>
        <td><%= link_to 'Eliminar', [:admin, debt], method: :delete, data: { confirm: 'Estas seguro?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva deuda', new_admin_debt_path, class: 'btn btn-primary' %>
