<div class='receipt' id='receipt'>
  <table class='table'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">
          <div><b>CUIT: 30-71609332-4</b></div>
          <div><b>FIDEICOMISO INMOBILIARIO AL COSTO AYRES DE CANNING</b></div>
          <div><b>Dardo Rocha 164, Monte Grande, 1842, Buenos Aires</b></div>
          <div><b>Recibo número <%= @receipt.id.to_s.rjust(5, '0') %></b></div>
        </th>
        <th scope="col"> <%= image_tag configatron.logo, class: 'right' %> </th>
      </tr>
    </thead>

    <tr>
      <td colspan='2'>
        <p>
        En la localidad de Monte Grande, partido de Esteban echeverría, a los
        <b><%= @receipt.created_at.day %> </b> días del mes de <b><%= l(@receipt.created_at, format: '%B') %> </b>
        del año <b><%= @receipt.created_at.year %></b>, recibí del Sr./ Sra. <%= @receipt.name %>
        la cantidad de <%= @receipt.value %> pesos, en concepto de aporte fiduciario del mes de
        <%= @receipt.month %> del año <%= @receipt.year %> por la construcción del emprendimiento
        Ayres de Canning, fideicomiso al costo por
        <% if @receipt.concept.present? %>
          <%= @receipt.concept %>
        <% else %>
          <%= simple_pluralize(@receipt&.payment&.properties&.count, 'la unidad', 'las unidades') %>
          <b><%= property_list(@receipt&.payment&.properties) %></b>
        <% end %>
        </p>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= image_tag 'firma.png', class: 'right' %>
      </td>
    </tr>
  </table>
</div>

<%= link_to 'Imprimir', '#', onclick: "printDiv('receipt')", class: 'btn btn-info' %>

<script>
function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
</script>