
    <%= render partial: 'admin/shared/error_messages', locals: { model_name: budget } %>

    </br>
    <div class="form-group">
      <%= form.label :value, 'Monto' %>
      <%= form.text_field :value, class: 'form-control' %>
    </div>

    <% if @company.has_feature?(:payments) %>
      <div class="form-group">
        <%= form.label :dollar_against_peso_value, 'Valor del dolar' %>
        <em>Ejemplo (65.50)</em>
        <%= form.number_field :dollar_against_peso_value, step: 0.01, class: 'form-control' %>
      </div>
    <% end %>

    <% if @company.has_feature?(:budget_rates) %>
      <div class="form-group">
        <%= form.label :rate_1, 'Indice CAC Base.' %>
        <em>Ejemplo (101,56)</em>
        <%= form.number_field :rate_1, step: 0.000001, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :rate_2, 'Indice CAC Cuota NN' %>
        <em>Ejemplo (252,12)</em>
        <%= form.number_field :rate_2, step: 0.000001, class: 'form-control' %>
      </div>
    <% end %>

    <% if @project.name != 'ayres-de-canning' %>
      <div class="form-inline">
        <%= form.label :start_date, 'Fecha de inicio' %>
        <%= form.datetime_select :start_date, { default: calculate_default_budget_start_date(budget) }, { class: "form-control" }  %>
      </div>
    <% end %>

    <div class="form-inline">
      <%= form.label :due_date, 'Fecha límite para el pago' %>
      <%= form.datetime_select :due_date, {}, { class: "form-control" }  %>
    </div>

