<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<h1>Bases de C치lculo</h1>
<br>
<table class='table table-bordered datatable_budgets'>
  <thead>
    <tr>
      <th>Monto</th>
      <th>Fecha de creaci칩n</th>
      <th>Vencimiento</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @budgets.each do |budget| %>
      <tr>
        <td>$<%= budget.value.round %></td>
        <td><%= budget.created_at.to_s(:db) %></td>
        <td><%= budget.due_date.to_s(:db) %></td>
        <td class="text-center"><%= link_to 'Eliminar', [:admin, budget], method: :delete, data: { confirm: 'Est치s seguro?' }, class: 'btn btn-danger' %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva base de c치lculo', new_admin_budget_path, class: 'btn btn-primary' %>
