<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<h1>Bases de C치lculo</h1>
<br>

<% if @budgets.empty? %>
  <div class='no-elements-in-table'>No hay Bases de c치lculo para mostrar.</div>
<% else %>

  <table class='table table-bordered datatable_budgets'>
    <thead>
      <tr>
        <th>Monto</th>
        <th>Fecha de inicio</th>
        <th>Vencimiento</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @budgets.each do |budget| %>
        <tr>
          <td>$<%= budget.value.round %></td>
          <td><%= budget.start_date.strftime("%d-%m-%Y a las %H:%M hs.") %></td>
          <td><%= budget.due_date.strftime("%d-%m-%Y a las %H:%M hs.") %></td>

          <td class="text-center">
            <% if budget_not_active_yet?(budget) %>
              <%= link_to 'Editar', edit_admin_budget_path(budget), class: 'btn btn-default' %>
            <% end %>
          </td>
          <td class="text-center">
            <% if budget_not_active_yet?(budget) %>
              <%= link_to 'Eliminar', [:admin, budget], method: :delete, data: { confirm: 'Est치s seguro?' }, class: 'btn btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
<br>

<%= link_to 'Nueva base de c치lculo', new_admin_budget_path, class: 'btn btn-primary' %>
