<h1>Resumen de Cuenta</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>
      <em>Total pagado en pesos al día de la fecha</em>
    </th>
    <th>
      <em>Total pagado en dolares al día de la fecha</em>
    </th>

    <th>
      <em>Monto adeudado al día de la fecha </em>
    </th>
  </tr>

  <tr>
    <td>
      <b>$<%= @payments.sum(&:value).round %> (pesos)</b>
    </td>
    <td>
      <b>US$<%= @payments.sum(&:dollar_value).round(2) %> (dólares) </b>
    </td>
    <td>
      <b>$<%= current_user.debt.round %> (pesos)</b>
    </td>
  </tr>
</table>

<h1>Pagos</h1>

<table class="table table-bordered datatable">
  <thead>
    <tr>
      <th>Fecha de pago</th>
      <th>Monto en pesos</th>
      <th>Monto en dolares</th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.created_at.to_s(:db) %></td>
        <td>$<%= payment.value.round.round %></td>
        <td>US$<%= payment.dollar_value.round(2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
