<%= form_with(model: [:admin, payment], local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :payment_type, value: params[:payment_type] %>

  <div class="form-group">
    <%= form.label :value,'Monto' %>
    <%= form.text_field :value, class: 'form-control' %>
  </div>


  <div class="form-group">
    <%= form.label :dollar_against_peso_value, 'Valor del dolar' %>
    <em>Ejemplo (31.50)</em>
    <%= form.number_field :dollar_against_peso_value, step: 0.01, class: 'form-control' %>
  </div>


  <div class="checkbox-list">

    <%= form.collection_radio_buttons(:property_ids, @properties, :id, :name, html: { class: 'form-control' } ) %>

  </div>
<br>
  <p>
    <strong>Observaciones:</strong>
    <%= @user.notes %>
    <%= link_to 'Editar Observaciones', "#{edit_admin_user_path(@user)}#user_notes" %>
  </p>

  <div class="actions">
    <%= form.submit 'Crear Pago', class: 'btn btn-info' %>
  </div>
<% end %>
