<%= form_with(model: [:admin, payment], local: true, class: form_class, id: "form_for_propery_#{property.id}") do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />

  <div id="error_explanation" class="js-errors-for-<%=property.id%>" style="font-size: 14px">

  </div>
  <br />

  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :property_ids, value: [property.id] %>
  <%= form.hidden_field :payment_type, value: params[:payment_type] %>

  <div class="form-group">
    <%= form.label :value,'Monto' %>
    <%= form.number_field :value, class: 'form-control js-amount' %>
  </div>


  <div class="form-group">
    <%= form.label :dollar_against_peso_value, 'Valor del dolar' %>
    <em>Ejemplo (65.50)</em>
    <%= form.number_field :dollar_against_peso_value, step: 0.01, class: 'form-control js-dolla-value' %>
  </div>
<br>
  <p>
    <strong>Observaciones:</strong>
    <%= @user.notes %>
    <%= link_to 'Editar Observaciones', "#{edit_admin_user_path(@user)}#user_notes" %>
  </p>

  <div class="actions">
    <%= form.submit 'Guardar Pago', class: 'btn btn-info' %>
  </div>
<% end %>
