<p id="notice"><%= notice %></p>

<h1>Pagos Realizados</h1>
<table class="table table-bordered datatable">
  <thead>
    <tr>
      <th>Propietario</th>
      <th>Tipo de pago</th>
      <th>Teléfonos</th>
      <th>Monto</th>
      <th>Fecha</th>
      <th>Propiedades</th>
      <th>Crear nuevo recibo de pago</th>
      <th>Eliminar pago junto a todos sus recibos</th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.user&.name %></td>
        <td><%= payment&.payment_type&.humanize %></td>
        <td><%= payment.user&.phones %> </td>
        <td>$<%= payment.value %></td>
        <td><%= payment.created_at.to_s(:db) %></td>
        <td><%= payment.properties.map(&:name).join(', ') %></td>
        <td>
          <% unless payment.receipts.any? %>
            <%= link_to 'Generar Recibo', new_admin_receipt_path(payment_id: payment.id), class: 'btn btn-default' %>
          <% end %>
        </td>
        <td><%= link_to 'Eliminar', [:admin, payment], method: :delete, data: { confirm: 'Estás seguro?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%#= link_to 'Ingresar nueva pago', new_admin_payment_path %>
