<p id="notice"><%= notice %></p>

<h1>Pagos Pendientes</h1>
<h3> <%= @payments.count %> pagos pendientes</h3>
<table class="table table-bordered datatable">
  <thead>
    <tr>
      <th>Propietario</th>
      <th>Teléfonos</th>
      <th>Monto</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.user&.first_name %> <%= payment.user&.last_name %></td>
        <td><%= payment.user&.mobile_number %> <%= payment.user&.phone_number %> </td>
        <td>$<%= payment.value.round %></td>
        <td><%= link_to 'Marcar como Pagado', '#' %>
            | <%= link_to 'Eliminar', [:admin, payment], method: :delete, data: { confirm: 'Estás seguro?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%#= link_to 'Ingresar nueva pago', new_admin_payment_path %>
