<p id="notice"><%= notice %></p>

<h1>Pagos Realizados</h1>
<table class="table table-bordered datatable">
  <thead>
    <tr>
      <th>Propietario</th>
      <th>Teléfonos</th>
      <th>Monto</th>
      <th>Fecha</th>
      <th>Propiedad</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.user&.name %></td>
        <td><%= payment.user&.phones %> </td>
        <td>$<%= payment.value %></td>
        <td><%= payment.created_at.to_s(:db) %></td>
        <td><%= payment.property&.name %></td>
        <td>
          <%= link_to 'Generar Recibo', new_admin_receipt_path(payment_id: payment.id), class: 'btn btn-default' %>
          <%= link_to 'Eliminar', [:admin, payment], method: :delete, data: { confirm: 'Estás seguro?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%#= link_to 'Ingresar nueva pago', new_admin_payment_path %>
