<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @payment.value %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @payment.user.name %>
</p>

<p>
  <strong>Deuda del propietario</strong>
  <%= @payment.user.debt.round %>
</p>

<%= link_to 'Editar', edit_admin_payment_path(@payment) %> |
<%= link_to 'Atras', admin_payments_path %>
