<% content_for(:body_attributes) do %>
   data-turbolinks="false"
 <% end %>

<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<h1>Circular informativa</h1>
<br>
<% if @newsletters.empty? %>
  <div class='no-elements-in-table'>No hay Circulares informativas para mostrar.</div>
<% else %>
  <table class="table table-bordered <%= add_datatable_class_to_newsletters(current_admin_user) %>">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Fecha de creación</th>
        <th>Última vez enviada</th>
        <% if current_admin_user.is_readonly? %>
          <th></th>
        <% else %>
          <th></th>
          <th></th>
          <th></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @newsletters.each do |newsletter| %>
        <tr>
          <td class="title"><%= newsletter.title %></td>
          <td><%= newsletter.created_at.strftime("%d-%m-%Y a las %H:%M hs.") %></td>
          <td><%= index_newsletter_sent(newsletter) %></td>

          <% if current_admin_user.is_readonly? %>
            <td><%= link_to 'Ver Newsletter', admin_newsletter_path(newsletter), class: 'btn btn-default', target: :blank %></td>
          <% else %>
            <td>
              <button type="button" class="btn btn-default send-newsletter-btn-index" data-toggle="modal" data-target="#send_newsletter_modal" data-newsletter-id="<%=newsletter.id%>">
                Enviar Circular informativa
              </button>
            </td>
            <td><%= link_to 'Editar', edit_admin_newsletter_path(newsletter), class: 'btn btn-default' %></td>
            <td>
              <% unless has_been_sent?(newsletter) %>
                <%= link_to 'Eliminar', [:admin, newsletter], method: :delete, data: { confirm: 'Estás seguro que deseas eliminar esta newsletter?' }, class: 'btn btn-danger' %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>

<%= link_to 'Nueva Circular informativa', new_admin_newsletter_path, class: 'btn btn-primary' %>

<%= render partial: 'send_newsletter_modal' %>
