<p id="notice"><%= notice %></p>

<h1>Circulares</h1>
<table class="table table-bordered datatable newsletters">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Fecha de creación</th>
      <th>Editar Circular</th>
      <th>Eliminar Circular</th>
      <th>Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @newsletters.each do |newsletter| %>
      <tr>
        <td class="title"><%= link_to newsletter.title, admin_newsletter_path(newsletter), target: "_blank" %></td>
        <td><%= newsletter.created_at.strftime("%d-%m-%Y a las %H:%M hs.") %></td>
        <td><%= link_to 'Editar', edit_admin_newsletter_path(newsletter), class: 'btn btn-info' %></td>
        <td><%= link_to 'Eliminar', [:admin, newsletter], method: :delete, data: { confirm: 'Estás seguro que deseas eliminar esta circular?' }, class: 'btn btn-danger' %> </td>
        <% if newsletter.sent == false %>
          <td><%= link_to 'Enviar circular', admin_newsletter_send_newsletter_path(newsletter), class:'btn btn-success' %></td>
        <% else %>
          <td>Enviada</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Circular', new_admin_newsletter_path, class: 'btn btn-info' %>
