<% content_for(:body_attributes) do %>
   data-turbolinks="false"
 <% end %>

<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<h1>Circulares</h1>
<br>
<% if @newsletters.empty? %>
  <div class='no-elements-in-table'>No hay Circulares para mostrar.</div>
<% else %>
  <table class="table table-bordered datatable_newsletters">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Fecha de creación</th>
        <th>Última vez enviada</th>
        <th>Enviar Circular</th>
        <th>Editar Circular</th>
        <th>Eliminar Circular</th>
      </tr>
    </thead>

    <tbody>
      <% @newsletters.each do |newsletter| %>
        <tr>
          <td class="title"><%= newsletter.title %></td>
          <td><%= newsletter.created_at.strftime("%d-%m-%Y a las %H:%M hs.") %></td>
          <td><%= index_newsletter_sent(newsletter) %></td>
          <td>
            <button type="button" class="btn btn-default send-newsletter-btn-index" data-toggle="modal" data-target="#send_newsletter_modal" data-newsletter-id="<%=newsletter.id%>">
              Enviar circular
            </button>
          </td>
          <td><%= link_to 'Editar', edit_admin_newsletter_path(newsletter), class: 'btn btn-default' %></td>
          <td><%= link_to 'Eliminar', [:admin, newsletter], method: :delete, data: { confirm: 'Estás seguro que deseas eliminar esta circular?' }, class: 'btn btn-danger' %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>

<%= link_to 'Nueva Circular', new_admin_newsletter_path, class: 'btn btn-primary' %>

<%= render partial: 'send_newsletter_modal' %>
