<h1>Propiedades</h1>

<table class="table table-bordered datatable">
  <thead>
    <tr>
      <th>Propiedad</th>
      <th>Total pagado en pesos</th>
      <th>Total pagado en dolares</th>
      <th>Adeuda</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td>$<%= property.payments.sum(&:value).round %></td>
        <td>US$<%= property.payments.sum(&:dollar_value).round(2) %></td>
        <th>$<%= property.debt %></th>
        <td><%= link_to 'Ver Detalle', [:site, property] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
