<h1>Propiedades</h1>

<table class="table table-bordered datatable">
  <thead>
    <tr>
      <th>Propiedad</th>
      <th>Total pagado en pesos</th>
      <th>Total pagado en dolares</th>
      <th>Deuda de cuotas (pesos)</th>
      <th>Deudas especiales (dólares)</th>
      <th>Deudas especiales (pesos)</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td>$<%= property.total_paid(:peso) + property.total_paid_for_special_debts(:peso)%></td>
        <td>US$<%= property.total_paid(:dollar) + property.total_paid_for_special_debts(:dollar) %></td>
        <th>$<%= property.debt.round %></th>
        <th>USD <%= property.special_debt(:dolares).round %></th>
        <th>$<%= property.special_debt(:pesos).round %></th>
        <td><%= link_to 'Ver Detalle', [:site, property], class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
