<table class="table">
  <thead>
    <tr>
      <th>Bloque</th>
      <th>Departamento</th>
      <th>Piso</th>
      <th>Ambientes</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @property.section %></td>
      <td><%= @property.apartment %></td>
      <td><%= @property.floor %></td>
      <th><%= @property.rooms %></th>
    </tr>
  </tbody>
</table>

<h1>Pagos realizados para <%= @property.formal_name %></h1>

<table class="table datatable">
  <thead>
    <tr>
      <th>Fecha de pago</th>
      <th>Monto en pesos</th>
      <th>Monto en dolares</th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.created_at.to_s(:db) %></td>
        <td>$<%= payment.value.round.round %></td>
        <td>US$<%= payment.dollar_value.round(2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Atras', site_properties_path, class: 'btn btn-default' %>