<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<h1>Propietarios</h1>
<br>
<table class='table table-bordered datatable_users'>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cuota actual</th>
      <th>Teléfonos</th>
      <th>Listado de propiedades</th>

      <% if configatron.features.payments %>
        <th></th>
        <th></th>
        <th></th>
      <% end %>

      <% if configatron.features.newsletters_history %>
        <th></th>
      <% end %>

      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, admin_user_path(user) %></td>
        <td>$<%= user.debt(@budget).round(0) %></td>
        <td><%= user.phones %></td>
        <td><%= property_list(user.properties) %></td>
        <% if configatron.features.payments %>
            <td class="text-center"> <%= link_to 'Nuevo Pago Cuota', new_admin_payment_path(user_id: user.id, payment_type: 'cuota'), class: 'btn btn-default' %></td>
            <td class="text-center"><%= link_to 'Nuevo Pago Deuda USD', new_admin_payment_path(user_id: user.id, payment_type: 'deuda_dolares'), class: 'btn btn-default' %></td>
            <td class="text-center"><%= link_to 'Nuevo Pago Deuda Pesos', new_admin_payment_path(user_id: user.id, payment_type: 'deuda_pesos'), class: 'btn btn-default' %> </td>
        <% end %>
        <% if configatron.features.newsletters_history %>
          <td><%= link_to 'Newsletters enviadas', admin_user_newsletters_history_path(user), class: 'btn btn-default' %></td>
        <% end %>
        <td><%= link_to 'Editar', edit_admin_user_path(user), class: 'btn btn-default' %></td>
        <td><%= link_to 'Eliminar', [:admin, user], method: :delete, data: { confirm: 'Estás seguro?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Propietario', new_admin_user_path, class: 'btn btn-primary' %>
