<p id="notice"><%= notice %></p>

<h1>Propietarios</h1>

<table class='table table-bordered datatable'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Deuda de cuotas</th>
      <th>Deuda especial (USD)</th>
      <th>Deuda especial ($)</th>
      <th>Teléfonos</th>
      <th>Listado de propiedades</th>
      <th>Nuevos pagos</th>
      <th><em>Modificar datos de propietario</em></th>
      <th><em>Eliminar</em></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td>$<%= user.debt(@budget).round(0) %></td>
        <td>$<%= user.special_debt(:dolares) %></td>
        <td>$<%= user.special_debt(:pesos) %></td>
        <td><%= user.phones %></td>
        <td><%= property_list(user.properties) %></td>
        <td><%= link_to 'Nuevo Pago Cuota', new_admin_payment_path(user_id: user.id, payment_type: 'cuota'), class: 'btn btn-info btn-pago' %>
            <%= link_to 'Nuevo Pago Deuda USD', new_admin_payment_path(user_id: user.id, payment_type: 'deuda_dolares'), class: 'btn btn-info btn-pago' %>
            <%= link_to 'Nuevo Pago Deuda Pesos', new_admin_payment_path(user_id: user.id, payment_type: 'deuda_pesos'), class: 'btn btn-info btn-pago' %> </td>
        <td><%= link_to 'Editar', edit_admin_user_path(user), class: 'btn btn-info' %></td>
        <td><%= link_to 'Eliminar', [:admin, user], method: :delete, data: { confirm: 'Estás seguro?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Propietario', new_admin_user_path, class: 'btn btn-info' %>
