<h1>Historial de Circulares informativas</h1>
<br>

<% if @sent_newsletters.empty? %>
  <div class='no-elements-in-table'>Todavía no se han enviado Circulares informativas a <b><%= @user.name%></b>.</div>
<% else %>
  <table class='table table-bordered datatable_newsletters_history'>
    <thead>
      <tr>
        <th>Propietario</th>
        <th>Nombre de la Circular informativa</th>
        <th>Fecha de envío</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @sent_newsletters.each do |sent_newsletter| %>
        <tr>
          <td><%= sent_newsletter.user.name %></td>
          <td><%= sent_newsletter.newsletter.title %></td>
          <td><%= sent_newsletter.created_at.strftime("%d-%m-%Y a las %H:%M hs.") %></td>
          <td><%= link_to 'Ver Circular informativa', site_sent_newsletter_url(sent_newsletter.sent_newsletter_token), target: "_blank", class: 'btn btn-default' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'Atrás', admin_users_path, class: 'btn btn-primary mb-2' %>
