<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @user.dni %>
</p>

<p>
  <strong>Cuit:</strong>
  <%= @user.cuit %>
</p>

<p>
  <strong>Teléfono fijo:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Teléfono móvil:</strong>
  <%= @user.mobile_number %>
</p>

<p>
  <strong>Dirección 1:</strong>
  <%= @user.address_1 %>
</p>

<p>
  <strong>Dirección 2:</strong>
  <%= @user.address_2 %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @user.notes %>
</p>

<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>
