<h1>Datos del Propietario</h1>
<br>
<p>
  <strong>Nombre:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.last_name %>
</p>

<% unless configatron.project_name == 'metrobuilding' %>
  <p>
    <strong>Dni:</strong>
    <%= @user.dni %>
  </p>

  <p>
    <strong>Cuit:</strong>
    <%= @user.cuit %>
  </p>
<% end %>

<p>
  <strong>Teléfono fijo:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Teléfono móvil:</strong>
  <%= @user.mobile_number %>
</p>

<p>
  <strong>Dirección 1:</strong>
  <%= @user.address_1 %>
</p>

<p>
  <strong>Dirección 2:</strong>
  <%= @user.address_2 %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @user.notes %>
</p>

<br>
<%= link_to 'Atrás', admin_users_path, class: 'btn btn-primary' %>
