<%= form_with(model: [:admin, property], local: true) do |form| %>

  <%= render partial: 'admin/shared/error_messages', locals: { model_name: property } %>

  <div class="form-group property">
    <%= form.label :property_category_id, 'Categoría de la propiedad' %>
    <br>
    <%= form.select :property_category_id, @project.property_categories.map { |c| [c.name, c.id] }, {}, class: 'select2 edit-property' %>
  </div>

  <div class="form-group property">
    <%= form.label :user_id, 'Nombre del propietario' %>
    <br>
    <%= form.select :user_id, @project.users.map { |u| [u.name, u.id]}, {}, class: 'select2 edit-property' %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar propiedad', class: 'btn btn-primary mb-2' %>
    <%= link_to 'Atrás', admin_properties_path, class: 'btn btn-secondary mb-2' %>
  </div>
<% end %>
