<%= form_with(model: [:admin, property], local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :property_category_id, 'ID de la categoria de la propiedad' %>
    <%= form.number_field :property_category_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :user_id, 'ID del propietario' %>
    <%= form.select :user_id, User.all.map { |u| [u.name, u.id]}, {}, class: 'select2' %>
  </div>

   <div class="form-group">
    <%= form.label :garage, 'Nº de cochera' %>
    <%= form.text_field :garage, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Actualizar propiedad', class: 'btn btn-info' %>
  </div>
<% end %>
