<%= form_with(model: [:admin, property], local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :property_category_id, 'Categoria de la propiedad' %>
    <%= form.select :property_category_id, PropertyCategory.all.map { |c| [c.name, c.id] }, {}, class: 'select2' %>
  </div>

  <div class="form-group">
    <%= form.label :user_id, 'Nombre del propietario' %>
    <%= form.select :user_id, User.all.map { |u| [u.name, u.id]}, {}, class: 'select2' %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar propiedad', class: 'btn btn-primary mb-2' %>
    <%= link_to 'Atrás', admin_properties_path, class: 'btn btn-secondary mb-2' %>
  </div>
<% end %>
