<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<h1>Propiedades</h1>
<br>
<% if @properties.empty? %>
  <div class='no-elements-in-table'>No hay Propiedades para mostrar.</div>
<% else %>

  <table class="table table-bordered <%= add_datatable_class_to_properties(current_admin_user) %>">
    <thead>
      <tr>
        <th>Departamento/Cochera</th>
        <th>Categoría</th>
        <th>Propietario</th>
        <th>Porcentaje</th>
        <% unless current_admin_user.is_readonly? %>
          <th></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @properties.each do |property| %>
        <tr>
          <td><%= property.name %></td>
          <td><%= property.property_category.name %></td>
          <td><%= property.user&.first_name %> <%= property.user&.last_name %></td>
          <td><%= property.property_category.percentage %>%</td>
          <!-- <td><%# link_to 'Ver', [:admin, property] %></td> -->
          <% unless current_admin_user.is_readonly? %>
            <td><%= link_to 'Editar', edit_admin_property_path(property), class: 'btn btn-default' %></td>
          <% end %>
          <!-- <td><%# link_to 'Eliminar Propiedad', [:admin, property], method: :delete, data: { confirm: 'Estás seguro?' }, class: 'btn btn-danger' %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>

<%#= link_to 'New Property', new_admin_property_path %>
