<!DOCTYPE html>
<html>
  <head>
    <title>Metrobuilding (Admin)</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'newsletter.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>

    <%= yield(:head) %>

  </head>

  <body <% if content_for?(:body_attributes) %>
            <%= yield(:body_attributes) %>
        <% end %>
  >

    <%= render partial: '/layouts/admin_navigation_bar' %>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <div class='footer'></div>

    <script type='text/javascript'>

    $('.datatable').DataTable({
      // ajax: ...,
      // autoWidth: false,
      // pagingType: 'full_numbers',
      // processing: true,
      // serverSide: true,

      // Optional, if you want full pagination controls.
      // Check dataTables documentation to learn more about available options.
      // http://datatables.net/reference/option/pagingType
    });

    </script>
  </body>
</html>
