<!DOCTYPE html>
<html>
  <head>
    <title> <%= @company.feature_string_value(:intranet_name) %> (Admin)</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>

    <%= yield(:head) %>

  </head>

  <body <% if content_for?(:body_attributes) %>
            <%= yield(:body_attributes) %>
        <% end %>
  >

    <%= render partial: '/layouts/admin_navigation_bar' %>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <div class='footer'></div>
  </body>
</html>
