<!DOCTYPE html>
<html>
  <head>
    <title>Metrobuilding - Circular</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>

  </head>

  <body>

      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <a href="https://www.metrobuilding.com.ar/" target="_blank">
                 <%= image_tag "https://www.metrobuilding.com.ar/wp-content/uploads/2018/07/logo-1.png", style:'width: 230px' %>
               </a>
            </div>

            <div class="col-md-5 col-md-offset-3">
              <span>
                <h2>CIRCULAR INFORMATIVA Nº <br>
                    MARZO 2020
                </h2>
              </span>
              <span>
                <h1 style="font-size: 70px; color: #4169E1;">METRO</h1>
              </span>
            </div>
          </div>
         </div>
      </div>


    <div class="container">
      <%= yield %>
    </div>

    <div class='footer'></div>

    <script type='text/javascript'>

    $('.datatable').DataTable({
      // ajax: ...,
      // autoWidth: false,
      // pagingType: 'full_numbers',
      // processing: true,
      // serverSide: true,

      // Optional, if you want full pagination controls.
      // Check dataTables documentation to learn more about available options.
      // http://datatables.net/reference/option/pagingType
    });

    </script>
  </body>
</html>
